@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
	width: auto;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: 微軟正黑體, 新細明體, 細明體, Arial, "Arial Black";
	background-color: #232323;
	background-image: url(../img/BG.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.wrap {
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 700px;
	/*overflow:hidden;*/
}
.hidden {
	display: none !important;
}

/*---------- LOGO ----------*/
.new-logo {
	margin: 0 auto;
	margin: -5px 0 0 -15px;
	padding: 0;
	text-align: center;
	animation: scale .2.5s ease-in-out backwards;
	z-index: 100;
}
@keyframes scale {
 0% {
transform: scale(0.5);
}
 100% {
transform: scale(1);
}
}

/* input as select option */
.select-menu {
	position: relative;
	z-index: 1000;
	margin-bottom: 41px;
}
.toggle-box {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	margin: 0;
	margin-top: -1px;
	padding: 0;
	border: 1px solid #737d89;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.1s linear;
	max-height: 0;
}
.toggle-box.show {
	opacity: 1;
	max-height: inherit;
}
*[class^="option-opt"] {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 6px 10px;
	border: 1px solid rgba(240, 240, 240, 0.45);
	min-width: 6em;
	list-style-type: none;
	line-height: normal;
	font-family: 微軟正黑體, 新細明體, 細明體, Arial, "Arial Black";
	color: #FFF;
	text-align: left;
	width: 178px;
	min-height: 32px;
	line-height: 32px;
}
.toggle-box *[class^="option-opt"] {
	border-color: transparent;
	background-color: rgba(45, 100, 160, 1);
}
.toggle-box *[class^="option-opt"]:hover {
	background-color: rgba(100, 160, 230, 1);
}
/*
// .option-opt0[data-optid="opt1"] + .toggle-box .option-opt1 {display: none;}
// .option-opt0[data-optid="opt2"] + .toggle-box .option-opt2 {display: none;}
// .option-opt0[data-optid="opt3"] + .toggle-box .option-opt3 {display: none;}
*/

/*---------- logingroup ----------*/
.logingroup {
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	background-image: url(../img/388.png);
	margin: -250px auto 0 auto;
	animation: scale .2s ease-in-out backwards;/*
	float: left;
	*border:0 \9;
	*border-left:none \9;
	*border-right:none \9;
	background-position: 10px 20px;
	*/
}
.logingroup.member {
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	background-image: url(../img/388.png);
	margin: -250px auto 0 auto;
	animation: scale .2s ease-in-out backwards;
}
.logingroup.proxy {
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	background-image: url(../img/388.png);
	margin: -250px auto 0 auto;
	animation: scale .2s ease-in-out backwards;
}
.logingroup input,
.logingroup select {
	font-family: 微軟正黑體, 新細明體, 細明體, Arial, "Arial Black";
	background-color: rgba(0,0,0,0.25);
	border: 1px solid rgba(240, 240, 240, 0.45);
	width: 370px;
	height: 40px;
	margin: 0;
	font-size: 1.4em;
	color: #FFF;
	padding-left: 50px;
	border-radius: 0px;
}
.logingroup select {
	box-sizing: content-box;
}
.logingroup .select-menu {
	width: 200px;
	margin: 0 0 30px auto;
	background-color: rgba(0,0,0,0.25);
}

/*.logingroup *[class^="option-opt"] {height: 41px;}*/
.logingroup *[class^="option-opt"] .option-text {
	padding-left: 40px;
	font-family: 微軟正黑體, 新細明體, 細明體, Arial, "Arial Black";
	font-size: 1.4em;
}
.logingroup *[class^="option-opt"] img.flag {
	position: absolute;
	top: 9px;
	left: 10px;
	width: 24px;
	height: auto;
	padding: 0;
	margin: 0;
}
.logingroup *[class^="option-opt"] img.arrow {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 21px;
	height: 13px;
	padding: 0;
	margin: 0;
}
.textgroup .user_account img,
.textgroup .user_password img {
	margin: 9px 0 0 10px;
}
.user_account input,
.user_password input {
	margin-bottom: 30px;
}
.textgroup .user_checkbox {
	color: #FFFFFF;
	text-align: left;
	margin: -20px 0 30px 2px;
}
.textgroup .user_checkbox label {
	font-size: 1.2em;
	vertical-align: middle;
}
.textgroup .user_checkbox input[type="checkbox"] {
	width: 24px;
	height: 24px;
	padding: 0 0 0 0;
	margin: 5px 5px 0 0;
	vertical-align: middle;
}
.textgroup .toggle-box li img {
	position: absolute;
	width: 24px;
	height: auto;
	padding: 0;
	margin: 4px 0 0 10px;
	left: 0;
}
.textgroup .toggle-box li.option-opt1 {
	background-color: #123b63;
}
.textgroup .toggle-box li.option-opt2 {
	background-color: #144473;
}
.textgroup .toggle-box li.option-opt3 {
	background-color: #174e84;
}

/*---------- WebKit browsers ----------*/
::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.65);
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
color: rgba(255, 255, 255, 0.65);
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
color: rgba(255, 255, 255, 0.65);
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
color: rgba(255, 255, 255, 0.65);
}
.logingroup .option-opt0.focus,
.logingroup input:focus {
	border-color: rgba(0, 168, 255, 0.9);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(0, 168, 255);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 15px rgb(0, 168, 255);
}
.logingroup .textgroup {
	width: 422px;
	height: auto;
	margin: 0 auto;
	padding: 280px 0 0 0;
	text-align: center;
}
.textgroup2 {
	margin: 0 auto;
	padding: 0;
	padding-left: 20px;
	text-align: center;
}
.textgroup2 .btnLink {
	color: #438edc;
	border-right: 1px solid #438edc;
	border-left: 1px solid #438edc;
	margin-left: -11px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 0px;
}
.textgroup2 .btnLink a {
	color: #afc8e2;
	text-decoration: none;
	transition: all .5s;
	font-size: 17px;
	word-spacing: 0px;
	letter-spacing: -0.1px;
}
.textgroup2 .btnLink a:hover,
.textgroup2 .btnLink a:focus,
.textgroup2 .btnLink a:active {
	color: #fff;
}
.option-text,
.flag,
.arrow {
	pointer-events: none;
}
.textgroup img {
	position: absolute;
	width: 24px;
	height: auto;
}

/*---------- Button ----------*/
/* 會員登入(btn) */
/* 控端登入(btn1) */
/* 管理登入(btn2) */
.btn,
.btn1,
.btn2 {
	width: 290px;
	min-height: 32px;
	margin: 0 auto;
	padding: 16px 0;
	cursor: pointer;
	-webkit-box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.50);
	box-shadow: 5px 5px 20px 1px rgba(0,0,0,0.50);
	background: url(../img/btn_000.png) no-repeat;
	color: #FFF;
	text-align: center;
	font-size: 23px;
	vertical-align: middle;
	text-shadow: 1px 1px 1px #393939;
}
.btn:hover,
.btn1:hover,
.btn2:hover {
	-webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.7);
	background-position: 0 -63px;
}
.btn:active,
.btn1:active,
.btn2:active {
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
	background-position: 0 -126px;
}

/*---------- Language Department ----------*/
#uLogin .logingroup.logingroup_zh-TW .language {
	text-align: center;
	margin-top: 70px;
}
#uLogin .logingroup.logingroup_zh-TW .language a {
	outline: none; /* for Firefox Google Chrome  */
	behavior: expression ( this.onFocus=this.blur()); /* for IE */
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
	padding: 5px 20px;
	vertical-align: top;
}
#uLogin .logingroup.logingroup_zh-TW .language a:hover {
	color: #FF9900;
}
#uLogin .logingroup.logingroup_zh-TW .language a img {
	width: 24px;
	height: auto;
	padding-right: 3px;
}
.mega645 {
	position: absolute;
	right: 25px;
	bottom: 52px;
}

/*-- END --*/
/*-- Brian 2017.12m -----------------*/


h2.firstlogin{
	text-align: center;
    color: #b9b3ac;
    font-size: 28px;

}